/******************************************************************************
******************************************************************************
** 
** reset.cssにおいて ( var.3.1.3 )
** -- box-sizingを*で指定
** -- -webkit-tap-highlight-colorをrgba(0, 0, 0, 0)で指定
** -- text-size-adjustを 100%で指定
** -- font-sizeを10pxで指定
** -- line-heightを1.6で指定（単位なし）
** -- hタグはfont-size: 100%で指定
** 
******************************************************************************
******************************************************************************/
/* === Base Fonts === */

/* == Noto Sans JP == */
/*Light*/
@font-face {
	font-family: 'Noto Sans JP', sans-serif;
    src: url('../fonts/Noto_Sans_JP/NotoSansJP-Light.woff') format('woff'), url('../fonts/Noto_Sans_JP/NotoSansJP-Light.eot')  format('eot');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
/*Regular*/
@font-face {
	font-family: 'Noto Sans JP';
    src: url('../fonts/Noto_Sans_JP/NotoSansJP-Regular.woff') format('woff'), url('../fonts/Noto_Sans_JP/NotoSansJP-Regular.eot')  format('eot');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
/*Midium*/
@font-face {
	font-family: 'Noto Sans JP';
    src: url('../fonts/Noto_Sans_JP/NotoSansJP-Medium.woff') format('woff'), url('../fonts/Noto_Sans_JP/NotoSansJP-Medium.eot')  format('eot');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
/*Bold*/
@font-face {
	font-family: 'Noto Sans JP';
    src: url('../fonts/Noto_Sans_JP/NotoSansJP-Bold.woff') format('woff'), url('../fonts/Noto_Sans_JP/NotoSansJP-Bold.eot')  format('eot');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* === Base === */
* {
	box-sizing: border-box;
}
html {
	color: #383838;
	font-size: 16px;
	line-height: 1.8;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	word-spacing: normal;
}
body {
	margin: 0;
	padding: 0;
}
body, input, button, textarea, select {
	font-family: 'Noto Sans JP', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	margin: 0;
	padding: 0;
}
a {
	color: #4171b5;
	text-decoration: underline;
}
p {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
	font-size:0;
	line-height:0;
	vertical-align: bottom;
}
address {
	font-style: normal;
}
/* === Typography === */
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
blockquote {
	margin: 1em 40px;
}
i {
	font-style: italic;
}
main {
	display: block;
}
mark {
	background: #ff0;
	color: #000;
}
pre, code, kbd, samp {
	font-family: monospace, monospace;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before, q:after {
	content: '';
	content: none;
}
small {
	font-size: 75%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
/* === Lists === */
ul, ol {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}
dd, dt, dl {
	margin: 0px;
}
/* === Figures === */
figure {
	margin: 0;
}
/* === Forms ==== */
form {
	margin: 0;
}
fieldset {
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
*margin-left: -7px;
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
 *vertical-align: middle;
}
button, input {
	line-height: normal;
*overflow: visible;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
 input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none;
}
 button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
/* === Tables === */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	padding: 0;
	text-align: left;
	vertical-align: middle;
}
/* === HTML5 element display === */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio[controls], canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
