@charset "UTF-8";

/******************************************************************************
******************************************************************************
**
** style.cssにおいて ( var.3.1.3 )
** -- baseでは基本タグとサイト大枠のCSS指定
** -- headerではヘッダーのCSS指定
** -- global navではグローバルナビのCSS指定
** -- contentではコンテント・メイン・サイドナビのCSS指定
** -- footerではフッターのCSS指定
** -- pagetopではページトップボタンのCSS指定
** -- indexではトップページのCSS指定
** -- pageでは汎用ページのCSS指定
** -- styleでは汎用ページのコンテンツ（データ入れ）で使用する基本タグのCSS指定
**
** 注意事項
** -- CSSの命名規則はApplicatsオリジナルの命名規則を採用しています。
** -- 初期フォントサイズはreset.cssにて13pxにリセットしています。
** -- 行間は1.6にリセットしています。
**        単位は不要です。(スタイル崩れする可能性有)
** -- コンテンツ内のフォントサイズ・行間は
**        [ base ]のcontentsクラスで指定しています。
**        変更する場合はこちらを変更してください。
**
******************************************************************************
******************************************************************************/
/*-------------------------------------------------------------------------------------------------------
*********************************************************************************************************
*********************************************************************************************************
******
****** PCスタイル
******
*********************************************************************************************************
*********************************************************************************************************
-------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
******************************************************************************
** base
******************************************************************************
----------------------------------------------------------------------------*/

html, body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

.w_base {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
}

/*----------------------------------------------------------------------------
******************************************************************************
** header
******************************************************************************
----------------------------------------------------------------------------*/

.hd_bg {
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  border-top: 5px solid #a50708;
  -webkit-box-shadow: 1px 1px 10px rgba(204, 204, 204, 0.3);
  box-shadow: 1px 1px 10px rgba(204, 204, 204, 0.3);
  z-index: 3;

  a {
    text-decoration: none;
  }

  .hd {
    height: 80px;
    padding: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .hd_logo {
      a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        color: #3e3e3e !important;

        &:hover {
          opacity: 0.7;
          text-decoration: none !important;
        }
      }

      img {
        width: 60px;
        height: auto;
        margin-right: 7px;
      }

      .hd_ttl {
        font-size: 32px;
        line-height: 1.1;

        span {
          display: block;
          font-size: 0.44em;
          letter-spacing: 0.07em;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  /*----------------------------------------------------------------------------
   ******************************************************************************
   ** global nav
   ******************************************************************************
   ----------------------------------------------------------------------------*/

  nav {
    overflow: visible;
    height: 100%;
  }

  .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;

    > li {
      position: relative;
      font-weight: bold;
      border-left: 1px solid #e2e2e2;
      z-index: 1000;

      > a {
        display: block;
        padding: 1.2em 20px 1.5em;
        text-align: center;
        font-size: 18px;
        color: #151515 !important;

        &:hover {
          text-decoration: none;
        }
      }

      &:last-child > .child_wrap > .sub-menu .sub-menu, &:nth-last-child(2) > .child_wrap > .sub-menu .sub-menu, &:nth-last-child(3) > .child_wrap > .sub-menu .sub-menu {
        left: -100% !important;
      }

      &:last-child {
        border-right: 1px solid #e2e2e2;
      }

      &:hover, &.current {
        background: #efeeee;
      }

      &:hover > .child_wrap > .sub-menu {
        display: block;
        -webkit-animation: nav_active 1s ease 0s 1 alternate;
        animation: nav_active 1s ease 0s 1 alternate;
      }

      .sub-menu {
        display: none;
        position: absolute;
        -webkit-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);

        li {
          border-bottom: 1px solid rgba(255, 255, 255, 0.7);

          > a {
            display: block;
            padding: 15px 10px;
            text-decoration: none;
            color: #fff !important;
            font-size: 14px;

            &:hover, &.current {
              opacity: 0.8;
              background: rgba(0, 0, 0, 0.4);
            }
          }
        }
      }

      > .child_wrap > .sub-menu {
        width: 200px;
        top: 100%;
        left: 0;
        background-color: rgb(1, 73, 140);
        -webkit-transition: All 0.5s ease;
        transition: All 0.5s ease;

        > li {
          position: relative;

          &:hover > .sub-menu {
            display: block;
            -webkit-animation: nav_active 1s ease 0s 1 alternate;
            animation: nav_active 1s ease 0s 1 alternate;
          }

          > .sub-menu {
            width: 100%;
            top: 0;
            left: 100%;
            background-color: rgb(0, 37, 70);

            > li {
              border-left: 1px solid rgba(255, 255, 255, 0.4);
            }
          }
        }
      }
    }
  }

  @-webkit-keyframes nav_active {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes nav_active {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

/*----------------------------------------------------------------------------
******************************************************************************
** content
******************************************************************************
----------------------------------------------------------------------------*/

.con_bg {
  padding-bottom: 230px;
}

.main {
  padding-top: 85px;
}

.mcon_txt {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sp_br {
  display: none;
}

/*----------------------------------------------------------------------------
******************************************************************************
** footer
******************************************************************************
----------------------------------------------------------------------------*/

.ft_bg {
  position: relative;
  width: 100%;
  height: 230px;
  position: absolute;
  bottom: 0;
  color: #fff;
  font-weight: 300;
  background: #a50708;

  a {
    color: #fff;
  }

  .ft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;

    .ft_ttl {
      h1 {
        font-size: 24px;
        line-height: 1.3;
      }

      p {
        margin-top: 10px;
        display: block;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.08em;
      }
    }
  }

  .ft_copy {
    font-size: 14px;
    text-align: right;
    line-height: 1.5;
  }
}

/*----------------------------------------------------------------------------
******************************************************************************
** pagetop
******************************************************************************
----------------------------------------------------------------------------*/

.pt {
  position: fixed;
  right: 50px;
  bottom: 30px;
  width: 58px;
  height: 58px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: transparent;
  z-index: 100;

  &:hover {
    opacity: 0.6;
  }

  .pt_btn {
    cursor: pointer;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;

    &:before, &:after {
      background-color: #ccc;
      content: "";
      display: block;
      top: 0;
      left: 0;
      position: absolute;
    }

    &:before {
      width: 6px;
      bottom: 0;
    }

    &:after {
      height: 6px;
      right: 0;
    }
  }
}

/*----------------------------------------------------------------------------
******************************************************************************
** index
******************************************************************************
----------------------------------------------------------------------------*/

.index_con_bg {
  background: url(../images/con_bg.jpg) no-repeat;
  background-size: 100% 100%;
}

.index_main h2 {
  margin-bottom: 10px;
  font-size: 48px;

  span {
    font-size: 0.34em;
    padding-left: 0.9em;
  }
}

.index_slider_bg {
  position: relative;
  margin-top: 85px;
  background: #a50708;

  img {
    width: 100vw;
    max-width: 100vw;
    height: 80vh !important;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.6;
  }

  .catchcopy_bg {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;

    .catchcopy {
      text-align: center;
      width: 800px;
      margin: 0 auto;

      h2 {
        font-size: 60px;
        margin-bottom: 20px;
      }

      p {
        color: #fff;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

.index_message {
  position: relative;
  width: 77.5%;
  margin: -90px 0 170px auto;
  color: #fff;
  font-weight: 300;
  -webkit-box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;

  &::before {
    content: "";
    width: 353px;
    height: auto;
    aspect-ratio: 1.73;
    background: #460202;
    position: absolute;
    left: -243px;
    bottom: -124px;
    z-index: -1;
  }

  .txt {
    padding: 1.5em 1em 3.8em 3.3em;
    background: #6F0404;
    z-index: 2;

    p {
      line-height: 2.1;
    }
  }
}

.index_news {
  position: relative;
  width: 77.5%;
  margin: 0 auto 160px 0;
  -webkit-box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;

  .txt {
    padding: 1.5em 2.2em 2.3em 2.2em;
    background: #fff;
    z-index: 2;

    h2 {
      color: #a50708;
    }

    .news_scrl {
      height: 290px;
      overflow: auto;

      dl {
        width: 100%;
        padding: 14px 0;
        font-size: 16px;
        border-bottom: 1px dotted #999;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        &:first-child {
          padding-top: 0;
        }

        dt {
          width: 130px;
          padding-left: 20px;
        }

        dd {
          width: calc(100% - 130px);
          padding-right: 20px;

          .icon_new {
            display: inline-block;
            color: #C00;
            font-size: 0.9em;
            font-weight: bold;
            margin-left: 0.3em;

            &:before {
              content: "NEW";
            }
          }
        }
      }
    }
  }

  &::after {
    content: "";
    width: 470px;
    height: auto;
    aspect-ratio: 1.73;
    background: rgba(70, 2, 2, 0.5);
    position: absolute;
    right: -270px;
    bottom: -100px;
    z-index: -1;
  }
}

/*-- object-fit ver IE11 サーバーアップで動作確認済み -- */
/*-- 
.index_slider img {
	width: 100%;
	max-height: 300px!important;
	-o-object-fit:cover!important;
	object-fit:cover;
	font-family:'object-fit: cover!important;'
} -- */
/*----------------------------------------------------------------------------
******************************************************************************
** page
******************************************************************************
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
******************************************************************************
** style
******************************************************************************
----------------------------------------------------------------------------*/

.mcon {
  word-wrap: break-word;

  a img:hover {
    opacity: 0.8;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .mcon_ttl {
    position: relative;
    background: -webkit-gradient(linear, left top, right top, from(#000), to(transparent));
    background: linear-gradient(to right, #000 0% 60%, transparent);

    img {
      position: absolute;
      right: 0;
      width: 42%;
      height: 180px;
      -o-object-fit: cover;
      object-fit: cover;
      z-index: -1;
    }

    h1 {
      max-width: 1300px;
      width: 100%;
      height: 180px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 auto;
      padding-right: 50px;
      padding-left: 50px;
      font-size: 30px;
      color: #fff;
    }
  }

  h2 {
    position: relative;
    margin: 1.5em 0 1em;
    padding: 0 0 0.7em;
    font-size: 1.7em;
    color: #6f0404;
    font-weight: 700;
    border-bottom: 2px solid #ebebeb;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    margin: 1.5em 0 1em;
    padding: 0 0 0 15px;
    font-size: 1.5em;
    font-weight: 700;
    border-left: 4px solid #6f0404;
    line-height: 1.4;
  }

  h4 {
    position: relative;
    margin: 1.2em 0 0.5em;
    padding: 0 0 10px;
    font-size: 1.3rem;
    font-weight: 700;

    &:after {
      position: absolute;
      content: "";
      height: 1px;
      width: 50px;
      left: 0;
      bottom: 0;
      background: #383838;
    }
  }

  h5, h6 {
    font-size: 1.1em;
    margin-bottom: 2px;
    margin-top: 5px;
  }

  hr {
    border: none;
    border-top: 1px dotted #000;
  }

  iframe {
    max-width: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  ol, ul {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  ol li {
    margin-left: 1.5em;
    margin-bottom: 0.5em;
  }

  ul li {
    margin-left: 1.5em;
    margin-bottom: 0.5em;
    list-style-type: disc;
  }

  p {
    margin-bottom: 1em;
  }
}

/*----------------------------------------------------------------------------
******************************************************************************
******************************************************************************
** tablet
******************************************************************************
******************************************************************************
----------------------------------------------------------------------------*/
@media screen and (min-width: 750px) and (max-width: 1024px) {
  /*----------------------------------------------------------------------------
   ******************************************************************************
   ** header tab
   ******************************************************************************
   ----------------------------------------------------------------------------*/

  .hd_bg {
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    border-top: 3px solid #01346b;
    z-index: 3;

    a {
      text-decoration: none;
    }

    .hd {
      height: 47px;
      padding: 3px 10px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      .hd_logo {
        a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          color: #333 !important;

          &:hover {
            opacity: 0.7;
            text-decoration: none !important;
          }
        }

        img {
          width: 30px;
          height: auto;
          margin-right: 7px;
          padding-bottom: 1px;
        }

        .hd_ttl {
          font-size: 18px;
          line-height: 1.1;

          span {
            display: block;
            font-size: 0.5em;
            letter-spacing: 0.07em;
          }
        }
      }
    }
  }

  /*----------------------------------------------------------------------------
   ******************************************************************************
   ** global nav tab
   ******************************************************************************
   ----------------------------------------------------------------------------*/

  nav {
    width: 40%;
    height: calc(100% + 500px);
    padding-bottom: 500px;
    position: fixed;
    top: 0px;
    right: -60%;
    color: #fff;
    background: #265f9d;
    -webkit-box-shadow: 1px 1px 5px rgb(0, 0, 0);
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    overflow-x: none;
    overflow-y: auto;
    z-index: 100;
    -webkit-transition: All 0.5s ease;
    transition: All 0.5s ease;
  }

  .nav_list {
    li a {
      display: block;
      color: #fff;
      text-decoration: none;
    }

    > li {
      position: relative;

      > a {
        position: relative;
        padding: 1em 1em 1em 24px;
        font-size: 16px;
        font-weight: bold;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        &:after {
          content: attr(data-text);
          display: block;
        }
      }

      &.current:before {
        content: "";
        width: 3px;
        height: 30px;
        background: #fff;
        position: absolute;
        left: 0.7em;
        top: 1.15em;
      }

      .child_wrap_btn {
        position: absolute;
        top: 1.05em;
        right: 0.5em;
        z-index: 10;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 30px;
        height: 30px;
        background: #fff;

        &::before, &::after {
          position: absolute;
          content: "";
          width: 15px;
          height: 2px;
          background-color: #00538a;
        }

        &::before {
          top: 50%;
          left: 50%;
          -webkit-transform: rotate(0deg) translateX(-50%);
          transform: rotate(0deg) translateX(-50%);
        }

        &::after {
          top: 50%;
          left: 0.47em;
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }

        &.close::after {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }

      .sub-menu > li > a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      }

      .child_wrap {
        display: none;

        > .sub-menu {
          background-color: rgb(0, 61, 117);

          > li {
            position: relative;

            > a {
              padding: 0.9em 1em 0.9em 24px;
              font-size: 14px;
            }

            .child_wrap_btn {
              top: 0.65em !important;
              right: 0.5em !important;
            }

            .child_wrap > .sub-menu {
              background-color: rgba(0, 0, 0, 0.4);

              > li {
                position: relative;

                > a {
                  padding: 0.8em 1em 0.8em 24px;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }

  .sp_nav_open {
    right: 0 !important;
  }

  .sp_nav_trigger {
    display: inline-block;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    span {
      display: inline-block;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    position: fixed;
    top: 15px;
    right: 13px;
    width: 30px;
    height: 23px;
    cursor: pointer;
    z-index: 999;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      content: "";
      width: 40px;
      height: 40px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: 4px solid rgba(255, 255, 255, 0);
      -webkit-transition: all 0.75s;
      transition: all 0.75s;
    }

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #265f9d;
      border-radius: 4px;

      &:nth-of-type(1) {
        top: 0;
      }

      &:nth-of-type(2) {
        top: 10px;
      }

      &:nth-of-type(3) {
        bottom: 0;
      }
    }

    &.active {
      width: 16px;
      right: 18px;

      span {
        background: #fff;

        &:nth-of-type(1) {
          -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
        }

        &:nth-of-type(2) {
          left: 60%;
          opacity: 0;
          -webkit-animation: trigger_active 0.8s forwards;
          animation: trigger_active 0.8s forwards;
        }

        &:nth-of-type(3) {
          -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
        }
      }

      &:after {
        border: 3px solid #fff;
      }
    }
  }

  @-webkit-keyframes trigger_active {
    100% {
      height: 0;
    }
  }

  @keyframes trigger_active {
    100% {
      height: 0;
    }
  }

  /*----------------------------------------------------------------------------
   ******************************************************************************
   ** content tab
   ******************************************************************************
   ----------------------------------------------------------------------------*/

  .main {
    padding-top: 50px;
  }

  .mcon_txt {
    padding: 20px;
  }

  /*----------------------------------------------------------------------------
   ******************************************************************************
   ** index tab
   ******************************************************************************
   ----------------------------------------------------------------------------*/

  .index_slider_bg {
    margin-top: 50px;

    .catchcopy {
      width: 600px !important;
    }
  }

  .index_message, .index_news {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
